<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input type="text" id="initial-investment" type="number">
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input type="text" id="annual-investment" type="number">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input type="text" id="expected-return" type="number">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="text" id="duration" type="number">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>